.portfolio-nav {
    background: white;
    border-bottom-style: solid;
    border-color: blueviolet;
    border-width: 4px;
    height: 60px;
}

.portfolio-nav .navbar-brand {
    background-color: #4aaaa5;
    padding: 10px 5px 5px 5px;
    color: white;
    font-size: 28px;
    width: 200px;
    text-align: center;
    margin-top: 0px;
    height: 60px;
    

}

.pnr {
    margin-left: 510px;
    width: 245px;
}

.mid-content-container-1 {
    margin-top: 70px;
}

.footerCont {
    padding: 0px;
    border-top-style: solid;
    border-color: blueviolet;
    border-width: 4px;
    position : absolute;
    bottom : 0;
    height : 40px;
    text-align: center;
    background-color: white;
    margin-bottom: 100px;
}

.container {
    border-style: solid;
    border-color: purple;
    border-width: 4px;
    width: 960px;
}